@page
@model BookLibrarySystem.Areas.Admin.Pages.Brand.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Brands</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Brands.BrandName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Brands.BrandName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Brands.DateCreated)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Brands.DateCreated)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Brands.DateModified)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Brands.DateModified)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.Brands.ID">Edit</a> |
    <a asp-page="./Index">Back to List</a>
</div>
